<div class="container">
    <h1>Service Request Submission Form</h1>
    <form>
      <div class="form-group">
        <label for="subName">Name</label>
        <input type="text" class="form-control" id="subName" required>
      </div>
      <div class="form-group">
        <label for="subEmail">E-mail</label>
        <input type="text" class="form-control" id="subEmail">
      </div>
      <div class="form-group">
        <label for="subPhone">Phone:</label>
        <input type="text" class="form-control" id="subPhone">
      </div>
      <div class="form-group">
        <label for="reqLocation">Location</label>
        <input type="text" class="form-control" id="reqLocation">
      </div>
      <div class="form-group">
        <label for="reqDesc">Add. Instructions</label>
        <input type="text" class="form-control" id="reqDesc">
      </div>
      <div class="form-group">
        <label for="reqInst">Add. Instructions</label>
        <input type="text" class="form-control" id="reqInst">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>